<div class="row justify-content-center mt-3">
  <div class="col col-sm-12 col-md-8 col-lg-4">
    <h2>Become a Guru</h2>

    <div class="card">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group">
            <p>
              <%= f.label :email %><br/>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control mt-1', placeholder: 'Email' %>
            </p>

            <p>
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: 'form-control mt-1' %>
            </p>

            <p>
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: 'form-control mt-1' %>
            </p>

            <p>
              <%= f.label :password %>

              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br/>

              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control mt-1' %>
            </p>

            <p>
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control mt-1' %>
            </p>
          </div>

          <div class="actions mt-3">
            <%= f.submit "Sign up", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>