<div class="container">
  <div class="form-group col-sm-12 col-md-8 col-lg-4">
    <%= form_with(model: [:admin, @badge], local: true) do |form| %>
      <%= render 'shared/errors', resource: @badge %>

      <div class="mb-3">
        <%= form.label :name, t('.name'), class: 'form-label' %><br>
        <%= form.text_field :name, id: :badge_name, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :image, t('.image'), class: 'form-label' %>
        <%= form.text_field :image, id: :badge_image, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :category_id %>
        <%= form.collection_select :category_id, Category.all, :id, :title, { prompt: true }, { class: 'form-select mt-1' } %>
      </div>

      <div class="mb-3">
        <%= form.label :test_id %>
        <%= form.collection_select :test_id, Test.all, :id, :title, { prompt: true }, { class: 'form-select mt-1' } %>
      </div>

      <div class="mb-3">
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
