<header class="nav admin">
  <h3><%= t('.title') %></h3>
  <ul>
    <li style="padding-right: 20px"><%= t('.welcome') %>, <b><%= current_user.email %></b> <%= t('.guru') %></li>
    <li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
  </ul>
</header>
