<%= form_with model: [@question, @answer] do |form| %>
  <%= render 'shared/errors', resource: @answer %>

  <%= form.label :body, "Answer body" %>
  <%= form.text_area :body, size: "60x5" %>
  <%= form.select :correct, [['Correct', true], ['Incorrect', false]] %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
