<h2><%= t('.question') %></h2>

<p><%= @answer.question.body %></p>

<p>
  <b><%= t('.answer') %>:</b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('.correct') %>:</b>
  <%= @answer.correct %>
</p>

<%= link_to 'Back', question_path(@answer.question) %>
