<%= @question.body %>

<h2><%= t('questions.show.answers') %></h2>

<%= link_to t('questions.show.new_answer'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('questions.show.back'), admin_test_path(@question.test) %>