<%= form_with model: [:admin, @test] do |form| %>
  <%= render 'shared/errors', resource: @test %>
  <p>
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :level, "Level" %>
    <%= form.text_field :level %>
  </p>

  <p>
    <%= form.label :category_id, "Category ID" %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>

  <%= form.submit %>
<% end %>