<div class="card mb-3 col-sm-12 col-md-8 col-lg-4">
  <div class="card-body">
    <h5 class="card-title"><%= test.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= t('.level') %>: <%= test_level(test) %></h6>
    <p class="card-text"><%= t('.questions_count') %>: <%= test.questions.count %></p>
    <%= link_to t('.show'), admin_test_path(test), class: 'card-link' %>
    <%= link_to t('.edit'), edit_admin_test_path(test), class: 'card-link' %>
    <%= link_to t('.delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: t('.confirm') }, class: 'card-link' %>
  </div>
</div>