<div class="card mb-3 col-sm-12 col-md-8 col-lg-4">
  <div class="card-body">
    <%= content_tag :h5, test.title, class: 'card-title', data: { test_id: test.id } %>
    <p><%= render 'form_inline', test: test == @test ? @test : test %></p>
    <h6 class="card-subtitle mb-2 text-muted"><%= t('.level') %>: <%= test_level(test) %></h6>
    <p class="card-text"><%= t('.questions_count') %>: <%= test.questions.count %></p>
    <p class="card-text"> <%= t('.time') %>: <%= test.time %></p>
    <%= link_to t('.show'), admin_test_path(test), class: 'card-link' %>
    <%= link_to t('.edit'), edit_admin_test_path(test),
                data: { test_id: test.id },
                class: 'card-link form-inline-link' %>
    <%= link_to t('.delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: t('.confirm') }, class: 'card-link' %>
  </div>
</div>
