<style type="text/css">
    .links {
        display: flex;
        flex-direction: column;
    }
</style>

<div class="container m-3">
  <h2><%= t('.header') %></h2>

  <%= link_to t('.create'), new_admin_test_path %>

  <div class="links mt-3">
    <div class="sort-by-title pointer mb-3">
      <%= octicon 'arrow-up', class: 'text-success' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </div>
    <div class="tests-list">
      <%= render @tests %>
    </div>
  </div>
</div>