<h2><%= @test.title %></h2>

<h3><%= t('.questions') %></h3>

<ul>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</ul>

<br/>

<%= link_to t('.add'), new_admin_test_question_path(@test)  %>

<br/>

<%= link_to t('.back'), admin_tests_path %>